* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e6ebea;
    min-height: 100vh;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    width: 450px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.18);
}

.title {
    background-color: #9d78f4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: bold;
}

form {
    color: #bbb;
    padding: 40px;
}

.form-control {
    position: relative;
    margin-bottom: 24px;
}

input {
    color: #bbb;
    position: relative;
    width: 100%;
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    padding: 12px;
    padding-right: 150px;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bolder;
    line-height: 40px;
    height: 40px;
}

input::placeholder {
    color: #bbb;
}

input:not(:placeholder-shown) {
    color: #aaa;
    font-size: 3.5em;
    padding-bottom: 20px;
}

/* Password strength feedback */

.feedback {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}

.pswd-feedback {
    background-color: #dfdfdf;
    border-radius: 50px;
    transition: color   0.5s;
}

.pswd-feedback::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 80%; */
    background-color: red;
    border-radius: 50px;
    transition: background-color 0.5s, width 0.5s;
}

.pswd-feedback.weak::after {
    width: 50%;
    background-color: #d34a31;
}

.pswd-feedback.fair::after {
    width: 70%;
    background-color: #fca811;
}

.pswd-feedback.good::after {
    width: 100%;
    background-color: #1abc9b;
}

.feedback i {
    transform: translateX(-24px);
    /* hide */
    opacity: 0;
    transition: opacity 0.5s;
}

.feedback.fair i,
.feedback.good i {
    opacity: 1;
} 

.pswd-feedback.fair {
    color: #fca811;
}

.pswd-feedback.good {
    color: #1abc9b;
}

/* Confirm password */

.feedback span {
    transform: translateX(-16px);
    font-size: 0.9em;
}

.confirm-feedback.ok i {
    opacity: 1;
}

.confirm-feedback .match {
    display: none;
}

.confirm-feedback.ok .match {
    display: inline-block;
    font-weight: bolder;
}

.confirm-feedback.ok .no-match {
    display: none;
}

.confirm-feedback.ok {
    color: #1abc9b;
}

button.submit {
    background-color: #9d78f4;
    color: #fff;
    margin-top: 24px;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.card.done button.submit {
    opacity: 1;
}

.card.done button.submit:hover {
    opacity: 0.85;
}





